.banner {
  min-height: 860px;

  font-family: $font-deafult;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: $white;
  letter-spacing: -0.466667px;

  background-color: $gray--light;
  background-image: url("../img/bg-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-banner-2x.jpg");
  }
}

.banner__wrapper {
  @include wrapper;

  padding: 185px 80px 30px 700px;
}

.banner__title {
  margin: 0;
  margin-bottom: 28px;

  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
  letter-spacing: -1.10667px;
}

.banner__text {
  margin: 0;
  margin-bottom: 34px;
}

.bunner__button {
  width: 340px;
  padding-right: 74px;

  text-align: left;

  background-image: url("../img/icon-arrow.svg");
  background-repeat: no-repeat;
  background-size: 14px auto;
  background-position: right 40px center;
}

@media (max-width: $tablet-width-only) {
  .banner {
    min-height: 344px;
    padding: 60px 185px 30px 185px;
  }

  .banner__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .banner__title {
    margin-bottom: 15px;

    font-size: 30px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0;
  }

  .banner__text {
    margin-bottom: 10px;
    text-align: center;
    color: $white;
  }

  .bunner__button {
    width: 250px;
    margin: 0 auto;
  }
}

@media (max-width: $mobile-width-only) {
  .banner {
    padding: 82px 16px 30px 16px;

    background-color: transparent;
    background-size: auto 235px;
    background-position: center 0;
  }

  .banner__wrapper {
    width: auto;
  }

  .banner__title {
    min-height: 72px;
    margin-bottom: 101px;

    font-size: 24px;
    line-height: 36px;
  }

  .banner__text {
    margin-bottom: 20px;

    color: $gray--light;
  }

  .bunner__button {
    width: 288px;
  }
}
