.banner {
  position: relative;

  font-family: $font-deafult;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: $white;
  letter-spacing: -0.466667px;

  overflow: hidden;
}

.banner__img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: $gray--light;
  object-fit: cover;

  @include mobile {
    height: 236px;
  }
}

.banner__wrapper {
  @include wrapper;

  position: relative;
  z-index: 1;

  min-height: 860px;
  padding: 185px 80px 30px 700px;
}

.banner__title {
  margin: 0;
  margin-bottom: 28px;

  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
  letter-spacing: -1.10667px;
}

.banner__text {
  margin: 0;
  margin-bottom: 34px;
}

.banner__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  padding: 30px 39px 29px 40px;

  text-align: left;
}

.banner__button-icon {
  flex-shrink: 0;
  align-self: center;
  margin-left: 14px;
  margin-bottom: -3px;

  fill: none;
  stroke: $white;
}

@include tablet {
  .banner {

    padding: 60px 185px 30px 185px;
  }

  .banner__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 344px;
    padding: 0;
  }

  .banner__title {
    margin-bottom: 15px;

    font-size: 30px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0;
  }

  .banner__text {
    margin-bottom: 10px;
    text-align: center;
    color: $white;
  }

  .banner__button {
    width: 250px;
    margin: 0 auto;
    padding: 19px 40px 17px 40px;
  }

  .banner__button-icon {
    width: 14px;
    height: 14px;
    margin-bottom: -2px;
  }
}

@include mobile {
  .banner {
    padding: 82px 16px 30px 16px;
  }

  .banner__wrapper {
    width: auto;
  }

  .banner__title {
    min-height: 72px;
    margin-bottom: 101px;
    margin-left: 6px;

    font-size: 24px;
    line-height: 36px;
  }

  .banner__text {
    margin-bottom: 20px;

    color: $gray--light;
  }

  .banner__button {
    width: 288px;
  }
}
