.modal {
  position: fixed;
  top: 0;
  left: 0;

  display: none;
  width: 100vw;
  height: 100vh;

  background-color: transparentize($black, 0.5);
  cursor: pointer;

  &--show {
    display: block;
  }
}

.modal__card {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;

  display: flex;
  justify-content: flex-end;
  width: 728px;
  min-height: 443px;

  font-family: $font-deafult;
  font-size: 25px;
  line-height: 43px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: $modal-text;

  background-color: $modal-bg;
  background-image: url("../img/modal-bg.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  transform: translate(-50%, -50%);

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/modal-bg-2x.jpg");
  }

  &--show {
    display: flex;
  }
}

.modal__wrapper {
  width: 390px;
  height: 100%;
  padding: 72px 20px 20px 18px;
}

.modal__title {
  margin: 0;
  margin-bottom: 50px;

  font-size: 25px;
  line-height: 43px;

  font-weight: 600;
}

.modal__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal__input {
  width: 270px;
  margin-bottom: 20px;
  padding: 15px 15px 15px 15px;

  font-family: $font-deafult;
  font-size: 14px;
  line-height: 17%;
  font-weight: 400;
  color: $modal-text;

  border: 1px solid $gray;

  &::placeholder {
    font-family: $font-deafult;
    color: $gray--dark;
  }

  &:invalid {
    border: 1px solid $main;
  }

  &--tel {
    padding: 15px 15px 15px 50px;

    background-image: url("../img/input-ph.svg");
    background-repeat: no-repeat;
    background-position: 14px 5px;
    background-size: auto 29px;
  }
}

.modal__button {
  width: 176px;
  padding: 18px 10px 17px 10px;
}

.modal__success {
  position: absolute;

  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 120px;

  background-color: $modal-bg;

  &--show {
    display: flex;
  }
}

.modal__close {
  position: absolute;
  z-index: 5;

  top: 10px;
  right: 10px;

  width: 42px;
  height: 42px;

  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  border: none;
  cursor: pointer;
}

@media (max-width: $mobile-width-only) {
  .modal__card {
    width: 320px;
    min-height: 568px;

    background-image: none;
  }

  .modal__wrapper {
    width: 100%;
    padding: 100px 16px 20px 16px;
  }

  .modal__form {
    width: 100%;
  }

  .modal__input {
    width: 100%;
    margin-bottom: 21px;
  }

  .modal__button {
    width: 100%;
  }
}
