.nav {
  font-family: $font-deafult;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  color: $gray--dark;
}

.nav__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
}

.nav__item {
  margin-left: 40px;

  color: $gray--dark;

  &:hover,
  &:focus {
    color: $main;
  }

  &:active {
    opacity: 0.7;
  }
}

@media (max-width: $tablet-width-only) {
  .nav {
    &--js {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5;

      width: 100vw;
      height: 100vh;
      padding-top: 137px;

      background-color: $white;
    }

    &--js .nav__list {
      display: flex;
      flex-direction: column;
    }

    &--js .nav__item {
      display: block;
      margin: 0;
      margin-bottom: 30px;
      padding: 15px 40px 17px 16px;

      font-size: 20px;
      line-height: 28px;
      font-weight: 600;
      color: $modal-text;

      background-color: $modal-bg;
      background-image: url("../img/icon-menu-arrow.svg");
      background-repeat: no-repeat;
      background-position: right 16px center;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .nav {
    &--no-js .nav__list {
      display: flex;
      flex-direction: column;
    }

    &--no-js .nav__item {
      display: block;
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
      padding: 15px 20px 17px 20px;

      background-color: $modal-bg;

      text-align: center;
    }
  }
}
