.page-main {
  padding: 0 0 170px 0;
}

@media (max-width: $tablet-width-only) {
  .page-main {
    padding-bottom: 81px;
  }
}

@media (max-width: $mobile-width-only) {
  .page-main {
    padding-bottom: 70px;
  }
}
