@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin wrapper {
  margin: 0 auto;

  @media (min-width: $mobile-width) {
    width: $mobile-width;
  }

  @media (min-width: $tablet-width) {
    width: auto;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

@mixin transition($args...) {
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  transition-property: $args;
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}
